<!DOCTYPE HTML>
<html>
        <head>
          <link rel="stylesheet" type="text/css" href="/project2.css">
	  <title>Project 2</title>
        </head>
        <body>
                <h1>Music Database</h1>
<ul id = "navigation">
  <li><a href = "/about">About</a></li>
  <li><a href = "/viewArtists">View Artist Info</a></li>
  <li><a href = "/enterArtists">Enter Artist</a></li>
  <li><a href = "/enterMembers">Enter Band Member</a></li>
  <li><a href = "/enterReleases">Enter Release Info</a></li>
  <li><a href = "/enterLabel">Enter Label Info</a></li>
  <li><a href = "/enterMultiple">Enter Release & Artist</a></li>
  <li><a href = "/edit">Edit Release</a></li>
  <li><a href = "/project2View">SQL View</a></li>
</ul>	  

                
        </body>
