<!doctype html>
<html>
<%include header %>
<link rel = "stylesheet" type="text/css" href="project2.css">
<div id = "main">
<h2>How To Use The Site</h2>
<p id="text">In order to enter information into this website, it must be done in a specific order to get all of the database tables to work together. First, enter an artist. You may then enter a release(the artist must exist to do this), and then information about the Label. You may also use the View Artist Info page to select a band to view information from. The SQL View page will allow you to see all bands that are tagged as some kind of Progressive music.</p>

<h2>About us</h2>
<p id="text">This website will allow you to view and enter information about different bands. You can enter things such as an artist's name, their different releases, and their members. You may also use this site to lookup information that has already been uploaded by another user. In order to enter a member, release, or label information, the band must exist in the database already.</p>

<h2>Contact</h3>
<p id="text">Kyle Vasconcellos<br/>
888-555-1234<br/>
music@database.com</p>
</div>
</html>
