<!doctype html>
<html>
<head>
<%include header %>
</head>
<div id = "main">

<div id = "body">
  <p>Hello!</p>
  <p>This website will let you input information about a band, including their name, releases, members/instruments played, and record label. </p>
  <p>Click the About page for information about the website, database, and how to use it!</p>
</div>
</div>
</html>





<% include footer %>
